{% extends 'base.html' %}

{% block title %}Ishikawa{% endblock %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<style>
    li.nav-item:nth-child(3) {
        background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <h1>Ishikawa</h1>
                <a href="{% url 'qualityTools:ferramentaishikawa-create' %}" class="btn btn-sm btn-primary new"><span class="cancel-text">Novo</span><i class="fa-solid fa-plus"></i></a>
                <tr>
                    <th>ID</th>
                    <th>Oportunidade de Melhoria</th>
                    <th>Notificação de Evento Adverso</th>
                    <th>Problema</th>
                    <th>Causas</th>
                    <th>Método</th>
                    <th>Mão de Obra</th>
                    <th>Máquina</th>
                    <th>Material</th>
                    <th>Medição</th>
                    <th>Meio Ambiente</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ferramenta in ferramentas_ishikawa %}
                <tr>
                    <td>{{ ferramenta.id }}</td>
                    <td>{{ ferramenta.oportunidade_melhoria|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.notificacao_evento_adverso|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.problema }}</td>
                    <td>{{ ferramenta.causas }}</td>
                    <td>{{ ferramenta.metodo }}</td>
                    <td>{{ ferramenta.mao_de_obra }}</td>
                    <td>{{ ferramenta.maquina }}</td>
                    <td>{{ ferramenta.material }}</td>
                    <td>{{ ferramenta.medicao }}</td>
                    <td>{{ ferramenta.meio_ambiente }}</td>
                    <td>
                        <p>
                            <a href="{% url 'qualityTools:ferramentaishikawa-update' pk=ferramenta.pk %}" class="btn btn-sm btn-primary edit"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Editar"><span class="cancel-text">Editar</span><i class="fa-solid fa-pen"></i></a>
                            <a href="{% url 'qualityTools:ferramentaishikawa-delete' pk=ferramenta.pk %}" class="btn btn-sm btn-primary delet"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Excluir"><span class="cancel-text">Excluir</span><i class="fa-solid fa-trash"></i></a>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
