<!-- melhoria/ferramentaishikawa_confirm_delete.html -->

{% extends 'base.html' %}

{% block title %}Confirmar Exclusão do Ishikawa{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Tem certeza que deseja excluir ?"{{ ferramenta }}"?</h1>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Exclusão</button>
        <a href="{% url 'ferramentaishikawa_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
