{% extends 'base.html' %}

{% block title %}SWOT{% endblock %}

{% block content %}

<h1>SWOT</h1>
<a href="{% url 'qualityTools:ferramentaswot-create' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> SWOT</a>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Oportunidade de Melhoria</th>
                    <th>Notificação de Evento Adverso</th>
                    <th>Forças</th>
                    <th>Fraquezas</th>
                    <th>Oportunidades</th>
                    <th>Ameaças</th>
                </tr>
            </thead>
            <tbody>
                {% for ferramenta in ferramentas_swot %}
                <tr>
                    <td>{{ ferramenta.id }}</td>
                    <td>{{ ferramenta.oportunidade_melhoria|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.notificacao_evento_adverso|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.forcas }}</td>
                    <td>{{ ferramenta.fraquezas }}</td>
                    <td>{{ ferramenta.oportunidades }}</td>
                    <td>{{ ferramenta.ameacas }}</td>
                    <td>
                        <a href="{% url 'qualityTools:ferramentaswot-update' pk=ferramenta.pk %}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{% url 'qualityTools:ferramentaswot-delete' pk=ferramenta.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
