{% load static %}
<link rel="stylesheet" href="{% static '/resources/css/sidebar.css' %}">
<aside class="sidebar">
    <nav class="sidebar-menu">
        <a class="sidebar-menu__honcord-button" href="/">
            <img src="{% static 'resources/images/logos/Logo-simpl-red.png' %}" alt="logo">
        </a>    
        <span class="sidebar-menu__label">
            <span class="company">Honcord</span>
            <span class="function">Intranet</span>
        </span>
        <i class="fa-solid fa-caret-left move-sidebar"></i>
    </nav>

    <ul class="sidebar-apps">
        {% for tool in tools %}
        <li class="sidebar-apps-item">
            <a class="sidebar-apps-item__button"
            href="{% if tool.name == 'Qualidade' %}
                    {% if is_gestor %}
                        {% url 'quality:opportunity_list' %}
                    {% else %}
                        {{ tool.links }}
                    {% endif %}
                {% else %}
                    {{ tool.links }}
                {% endif %}"
            target="{{ tool.target }}"
            data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="{{ tool.description }}">
                <img src="{{ tool.image.url }}" alt="{{ tool.name }}">
            </a>
            <span class="function-name">{{ tool.name }}</span>
        </li>
        {% endfor %}
    </ul>
    
</aside>