<!-- ferramentas/ferramenta5w2h_confirm_delete.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Exclusão do 5W2H{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<div class="delet-confirm">
    <div>
        <h3>Realmente deseja excluir "{{ object }}"</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger confirm"><i class="fa-solid fa-check"></i></button>
            <a href="{% url 'qualityTools:ferramenta5w2h_list' %}" class="btn btn-sm btn-secondary cancel"><i class="fa-solid fa-ban"></i></a>
        </form>
    </div>
</div>
{% endblock %}
