<!-- ferramentas/ferramenta5w2h_list.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}5W2H{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<style>
    li.nav-item:nth-child(3) {
    background-color: #fafafa !important;
}
</style>
<div class="row">
    <div class="col">
        <table class="table">

            <thead>
                <h1>5W2H</h1>
                <a href="{% url 'qualityTools:ferramenta5w2h-create' %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i></a>
                <tr>
                    <th>ID</th>
                    <th>Oportunidade de Melhoria</th>
                    <th>Notificação de Evento Adverso</th>
                    <th>O quê?</th>
                    <th>Por quê?</th>
                    <th>Onde?</th>
                    <th>Quando?</th>
                    <th>Quem?</th>
                    <th>Como?</th>
                    <th>Quanto?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ferramenta in ferramentas_5w2h %}
                <tr>
                    <td>{{ ferramenta.id }}</td>
                    <td>{{ ferramenta.oportunidade_melhoria|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.notificacao_evento_adverso|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.what }}</td>
                    <td>{{ ferramenta.why }}</td>
                    <td>{{ ferramenta.where }}</td>
                    <td>{{ ferramenta.when|date:"d/m/Y" }}</td>
                    <td>{{ ferramenta.who }}</td>
                    <td>{{ ferramenta.how }}</td>
                    <td>R$ {{ ferramenta.how_much }}</td>
                    <td>
                        <a href="{% url 'qualityTools:ferramenta5w2h-update' pk=ferramenta.pk %}" class="btn btn-sm btn-primary edit"><i class="fa-solid fa-pen"></i></a>
                        <a href="{% url 'qualityTools:ferramenta5w2h-delete' pk=ferramenta.pk %}" class="btn btn-sm btn-danger delet"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
