{% extends 'base.html' %}
{% load static %}

{% block title %}5W2H{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<style>
    li.nav-item:nth-child(3) {
        background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<h1>{% if form.instance.id %}Editar{% else %}Adicionar{% endif %}</h1>

<form id="ferramentaForm" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <fieldset>
                <legend>Opções:</legend>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input type="radio" id="opportunityOption" name="options" value="True" class="form-check-input" {% if form.instance.oportunidade_melhoria %} checked {% endif %} onchange="toggleFields()">
                        <label class="form-check-label" for="opportunityOption">Oportunidade de Melhoria</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="notificationOption" name="options" value="False" class="form-check-input" {% if form.instance.notificacao_evento_adverso %} checked {% endif %} onchange="toggleFields()">
                        <label class="form-check-label" for="notificationOption">Notificação de Evento Adverso</label>
                    </div>
                </div>
            </fieldset>

            <div id="opportunityFields" class="d-none">
                <div class="form-group">
                    <label for="{{ form.oportunidade_melhoria.id_for_label }}">Escolha a Oportunidade de Melhoria:</label>
                    {{ form.oportunidade_melhoria }}
                </div>
            </div>

            <div id="notificationFields" class="d-none">
                <div class="form-group">
                    <label for="{{ form.notificacao_evento_adverso.id_for_label }}">Escolha a Notificação de Evento Adverso:</label>
                    {{ form.notificacao_evento_adverso }}
                </div>
            </div>
            <div class="form-group my-3">
                <label for="{{ form.what.id_for_label }}">O quê?:</label>
                {{ form.what }}
            </div>
            <div class="form-group">
                <label for="{{ form.why.id_for_label }}">Por quê?:</label>
                {{ form.why }}
            </div>
            <div class="form-group">
                <label for="{{ form.where.id_for_label }}">Onde?:</label>
                {{ form.where }}
            </div>
            <div class="form-group">
                <label for="{{ form.when.id_for_label }}">Quando?:</label>
                <input type="date" name="when" value="{{ form.when.value|date:"Y-m-d" }}" class="form-control" required="" id="id_when">
            </div>
            <div class="form-group">
                <label for="{{ form.who.id_for_label }}">Quem?:</label>
                {{ form.who }}
            </div>
            <div class="form-group">
                <label for="{{ form.how.id_for_label }}">Como?:</label>
                {{ form.how }}
            </div>
            <div class="form-group">
                <label for="{{ form.how_much.id_for_label }}">Quanto?:</label>
                {{ form.how_much }}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary save"><span class="cancel-text">Salvar</span><i class="fa-solid fa-floppy-disk"></i></button>
        </div>
    </div>
</form>

<script>
    // Função para alternar a exibição dos campos com base na opção selecionada
    function toggleFields() {
        var opportunityFields = document.getElementById('opportunityFields');
        var notificationFields = document.getElementById('notificationFields');
        var opportunityOption = document.getElementById('opportunityOption');
        var notificationOption = document.getElementById('notificationOption');

        if (opportunityOption.checked) {
            opportunityFields.classList.remove('d-none');
            notificationFields.classList.add('d-none');
        } else if (notificationOption.checked) {
            notificationFields.classList.remove('d-none');
            opportunityFields.classList.add('d-none');
        }
    }

    // Chamada inicial para ajustar a visibilidade com base no estado atual do formulário
    window.onload = function() {
        toggleFields();
    };
</script>


<script src="{% static 'js/form_toggle.js' %}"></script>
{% endblock %}
