<!-- ramal/templates/lista_ramais.html -->
{% extends 'index/index.html' %}
{% load static %}
{% block title %}Lista de Ramais{% endblock %}

{% block ramal %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Lista de Ramais</h1>
    
    <!-- Barra de pesquisa -->
    <form method="GET" class="form-inline justify-content-center mb-4">
        <input type="text" id="search" class="form-control mr-2" placeholder="Pesquisar por nome...">
    </form>
    
    <!-- Tabela de ramais -->
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th scope="col">Nome</th>
                <th scope="col">Departamento</th>
                <th scope="col">Ramal</th>
            </tr>
        </thead>
        <tbody id="ramais-table">
        {% for ramal in ramais %}
            <tr>
                <td>{{ ramal.0 }}</td>
                <td>{{ ramal.1 }}</td>
                <td>{{ ramal.2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Script para AJAX -->
<script>
    // Função para atualizar a tabela com os dados
    function updateTable(ramais) {
        const tbody = document.getElementById('ramais-table');
        tbody.innerHTML = '';  // Limpa o conteúdo anterior
        ramais.forEach(ramal => {
            const row = `<tr>
                <td>${ramal[0]}</td>
                <td>${ramal[1]}</td>
                <td>${ramal[2]}</td>
            </tr>`;
            tbody.innerHTML += row;
        });
    }

    // Capturar a entrada de texto e realizar a busca via AJAX
    document.getElementById('search').addEventListener('input', function() {
        const query = this.value;
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `{% url 'ajax_lista_ramais' %}?q=` + query, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onload = function() {
            if (xhr.status === 200) {
                const data = JSON.parse(xhr.responseText);
                updateTable(data.ramais);  // Atualiza a tabela com os resultados
            }
        };
        xhr.send();
    });
</script>
{% endblock %}
