@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.list-ramais {
    background-color:#ddd !important; 
    margin: 0 !important; 
    width: 100% !important;
    height: calc(100dvh - 60px) !important;
    padding: 16px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.table-container {
font-size: 0.8rem !important;
height: 500px !important;
overflow-y: auto;
}
.containers form {
width: 100% !important;
overflow-y: auto;
}

.searching {
    display: flex !important;
    align-items: center !important;
}

.searching i {
    padding: 10px !important;
    border: 1px solid rgba(0,0,0,.2) !important;
    border-right: none !important;
    border-radius: 8px 0 0 8px !important;
    color: #b32325 !important;
    background-color: #fafafa !important;
}

.searching input {
    box-shadow: none !important;
    border: 1px solid rgba(0,0,0,.2) !important; 
    border-radius: 0 8px 8px 0 !important;
    width: 100% !important;
    background-color: #fafafa !important;
}
tr {
cursor: pointer;
}
th:nth-child(1) {
    width: 50% !important;
}
th:nth-child(2) {
    width: 40% !important;
}
td:nth-child(3), th:nth-child(3) {
    text-align: center;
    vertical-align: middle;
}