.sidebar {
    position: sticky;
    top: 0;
    align-self: start;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-right: var(--border-effect);
    background-color: var(--sidebar-bg-color);
    transition: width .5s ease;
}

.sidebar-menu {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: var(--border-effect);
}

.sidebar-menu__honcord-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--list-bg-color);
    box-shadow: var(--box-shadow-effect);
    
}

.sidebar-menu__honcord-button img {
    filter: var(--img-filter);
    object-fit: contain;
    width: 40px;
}

.sidebar-menu__label {
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.sidebar-menu__label .company {
    font-size: 1.1rem;
    font-weight: 700;
    color:var(--list-span-font-color);
}

.sidebar-menu__label .function {
    margin-top: -6px;
    font-size: 0.9rem;
    font-weight: 500;
    color:var(--list-span-font-color);
}

.sidebar-apps {
    display: flex;
    flex-direction: column;
    height: 70%;
    margin: 0;
    padding: 0;
    gap: 10px;
    padding: 16px;
    overflow-y:scroll;
    scrollbar-width: none; 
    --ms-overflow-style: none;
    z-index: 999;
}
.sidebar-apps::-webkit-scrollbar {
    display: none;
}

.sidebar-apps-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.sidebar-apps-item__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--list-bg-color);
    box-shadow: var(--box-shadow-effect);
    cursor: pointer;
}

.sidebar-apps-item__button img {
    filter: var(--list-img-filter) ;
}

.function-name {
    color: var(--list-span-font-color);
    font-size: 0.8rem;
    padding-left: 8px;
    font-weight: 500;
    white-space: nowrap;
    cursor: none;
    pointer-events: none;
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none; /* Para navegadores Firefox */
    -ms-user-select: none; /* Para navegadores antigos do Internet Explorer */
}

.sidebar-apps-item__button:hover {
    transform: scale(1.1);
    background-color: var(--list-bg-color-hover);
}

.sidebar-apps-item__button:active {
    transform: scale(0.999);
}

.sidebar-apps-item__button:hover img {
    filter: none;  
}

.move-sidebar {
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
    font-size: 0.7rem;
    color: var(--sidebar-button-color);
    background-color: var(--sidebar-button-bg-color);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10 !important;
}

.move-sidebar:hover {
    outline: var(--sidebar-button-outline);
    background-color: var(--sidebar-button-bg-color-hover);
    color: var(--sidebar-button-color-hover);
    transition: var(--transition-color2);
}
.sidebar.active {
    width: 80px;
}

.active .sidebar-menu__label {
    opacity: 0;

}

.active .function-name {
    display: none;
}