.card {
    margin-bottom: 16px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
}

.list-group {
    width: 100% !important;
    gap: 20px;

    margin-bottom: 16px;
}

.list-group-item {
    background-color: #fafafa;
    border: none !important;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.col-md-8 p{
    white-space: pre-wrap;
}


.form-control {
    box-shadow: none !important;
}
.card-text {
    white-space: pre-wrap;
}
.form-control:active,
.form-control:focus {
    border-color: #e98e8f77 !important;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.checkbox label {
    position: relative;
    top: -8px;
}
#id_anonymous {
    display: flex;
    width: 18px;
}
.content a,
.content button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: all 0.4s ease;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fafafa;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    width: 100px;
    height: 35px;
}
.content a i,
.content button i {
    font-size:1.1rem ;
}

.content a:hover > .cancel-text {
    display: none;
}
.content a:hover > i {
    display: flex;
}
.content a > i {
    display: none;
}

.content a:hover > i {
    animation: jello-vertical 1s both;
}

.content .buttons {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 16px 16px 0;
    gap: 10px;
}

.content button:hover > .cancel-text {
    display: none;
}
.content button:hover > i {
    display: flex;
}
.content button > i {
    display: none;
}

.content button:hover > i {
    animation: jello-vertical 1s both;
  }


.new {
    background-color: #49956b;
    border: 1px solid #49956b;
}


.new:hover {
    background-color: #fafafa;
    border-color: #49956b;
    color: #49956b;
}



.new:active,
.new:focus,
.new:target {
    background-color: #236b43 !important;
    border-color: #236b43 !important;
}

.edit {
    background-color: #496795 !important;
    border: 1px solid #496795 !important;
}

.edit:hover {
    background-color: #fafafa !important;
    color: #496795 !important;
}

.edit:active,
.edit:focus,
.edit:target,
.edit::selection {
background-color: #232f6b!important;
border-color: #232f6b!important;
}

.delet {
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
}

.delet:hover {
    color: #952b2b !important;
    background-color: #fafafa !important;
}
.delet:active,
.delet:focus,
.delet:target,
.delet::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
}

.details {
    background-color: #794995 !important;
    border: 1px solid #794995 !important;
}

.details:hover {
    color: #794995 !important;
    background-color: #fafafa !important;
}
.details:active,
.details:focus,
.details:target,
.details::selection {
background-color: #421c58!important;
border-color: #421c58!important;
}

.content .badges {
    position: relative;
    color: #fafafa !important;
    background-color: rgb(209, 143, 88) !important;
    border: 1px solid #d18f58 !important;
    margin: 8px;
    pointer-events: none; /* Consider changing this if you want the hover effect */
    overflow: hidden; /* Para garantir que o brilho não saia do botão */
}
.content .badges::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -100%; /* Começa fora da tela */
    width: 90px;
    background: rgba(255, 255, 255, 0.9);
    filter: blur(30px);
    animation: shine-alt1 3s ease-in-out infinite; /* Duração da animação */
}


@keyframes shine-alt1 {
    0% {
        opacity: 0.5;
        transform: translateX(-100px) skewX(-15deg);
    }
    50% {
        opacity: 0.6;
        transform: translateX(300px) skewX(-15deg);
    }
    100% {
        opacity: 0.5; /* Para fazer a animação voltar */
        transform: translateX(400px) skewX(-15deg);
    }
}

.back {
    background-color: #794995 !important;
    border: 1px solid #794995 !important;
}

.back:hover {
    background-color: #fafafa !important;
    color: #794995 !important;
}
.back:active,
.back:focus,
.back:target,
.back::selection {
background-color: #421c58!important;
border-color: #421c58!important;
color: #fafafa !important;
}

.confirm {
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
}

.confirm:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
}
.confirm:active,
.confirm:focus
.confirm:target,
.confirm::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}

.save {
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
}

.save:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
}
.save:active,
.save:focus
.save:target,
.save::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}
.content h2 {
    padding-top: 16px !important;
    padding-bottom: 32px !important;
    color: #3b0505 !important;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1) !important;
}


.cancel {
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
}

.cancel:hover {
    background-color: #fafafa !important;
    color: #952b2b !important;
}
.cancel:active,
.cancel:focus
.cancel:target,
.cancel::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
color: #fafafa !important;
}

.row {
    width: 100%;
    margin: 0;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row div {
    width: 100%;
}
.row-footer {
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.options {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);
}
.options span a {
    margin: 0;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}


.content .options span {
    display: flex;
    align-items: center;
    gap: 6px;
}
