.card {
    margin-bottom: 16px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
}

.list-group {
    width: 100% !important;
    gap: 20px;
    padding: 32px;
    background-color: #e2e2e2;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    margin-bottom: 16px;
}

.list-group-item {
    background-color: #fafafa;
    border: none !important;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.col-md-8 p{
    white-space: pre-wrap;
}


.form-control {
    box-shadow: none !important;
}
.card-text {
    white-space: pre-wrap;
}
.form-control:active,
.form-control:focus {
    border-color: #e98e8f77 !important;
}

button.save::before {
    content: '';
}
button.save {
    color: #fafafa !important;
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
    width: fit-content;
    height: 32px;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 6px 12px;
    gap: 6px;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    margin: 0;
}

button.save:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
}
button.save:active,
button.save:focus
button.save:target,
button.save::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.checkbox label {
    position: relative;
    top: -8px;
}
#id_anonymous {
    display: flex;
    width: 18px;
}

.content a {
    justify-content: center;
    width: fit-content;
    font-size:0.8rem;
    font-weight: 600;
    color: #fafafa;
    background-color: #49956b;
    border: 1px solid #49956b;
    margin-bottom: 16px;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
    text-align: center;
    vertical-align: middle;
}
.content a::before {
    content: 'Novo ';
}
.content a:hover {
    background-color: #fafafa;
    border-color: #49956b;
    color: #49956b;
}
.content a:active,
.content a:focus,
.content a:target {
    background-color: #236b43 !important;
    border-color: #236b43 !important;
}


a.edit::before {
    content: '';
}

a.edit {
    color: #fafafa !important;
    background-color: #496795 !important;
    border: 1px solid #496795 !important;
    margin: 8px;
}

a.edit:hover {
    background-color: #fafafa !important;
    color: #496795 !important;
}
a.edit:active,
a.edit:focus,
a.edit:target,
a.edit::selection {
background-color: #232f6b!important;
border-color: #232f6b!important;
color: #fafafa !important;
}

a.delet::before {
    content: '';
}
a.delet {
    color: #fafafa !important;
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
    margin: 0;
}

a.delet:hover {
    background-color: #fafafa !important;
    color: #952b2b !important;
}
a.delet:active,
a.delet:focus,
a.delet:target,
a.delet::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
color: #fafafa !important;
}

a.details::before {
    content: '';
}

a.details {
    color: #fafafa !important;
    background-color: #794995 !important;
    border: 1px solid #794995 !important;
    margin: 8px;
}

a.details:hover {
    background-color: #fafafa !important;
    color: #794995 !important;
}
a.details:active,
a.details:focus,
a.details:target,
a.details::selection {
background-color: #421c58!important;
border-color: #421c58!important;
color: #fafafa !important;
}




a.badges {
    position: relative;
    color: #fafafa !important;
    background-color: rgb(209, 143, 88) !important;
    border: 1px solid #d18f58 !important;
    margin: 8px;
    pointer-events: none; /* Consider changing this if you want the hover effect */
    overflow: hidden; /* Para garantir que o brilho não saia do botão */
}
a.badges::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -100%; /* Começa fora da tela */
    width: 90px;
    background: rgba(255, 255, 255, 0.9);
    filter: blur(30px);
    animation: shine-alt1 3s ease-in-out infinite; /* Duração da animação */
}
a.badges:hover {
    background-color: #fafafa !important;
    color: #497795 !important;
}

@keyframes shine-alt1 {
    0% {
        opacity: 0.5;
        transform: translateX(-100px) skewX(-15deg);
    }
    50% {
        opacity: 0.6;
        transform: translateX(300px) skewX(-15deg);
    }
    100% {
        opacity: 0.5; /* Para fazer a animação voltar */
        transform: translateX(400px) skewX(-15deg);
    }
}

a.back::before {
    content: '';
}

a.back {
    color: #fafafa !important;
    background-color: #794995 !important;
    border: 1px solid #794995 !important;
    margin: 8px;
}

a.back:hover {
    background-color: #fafafa !important;
    color: #794995 !important;
}
a.back:active,
a.back:focus,
a.back:target,
a.back::selection {
background-color: #421c58!important;
border-color: #421c58!important;
color: #fafafa !important;
}

.confirm::before {
    content: '';
}
.confirm {
    color: #fafafa !important;
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
    width: 120px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    margin: 0;
}

.confirm:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
}
.confirm:active,
.confirm:focus
.confirm:target,
.confirm::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}


.content h2 {
    padding-top: 16px !important;
    padding-bottom: 32px !important;
    color: #3b0505 !important;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1) !important;
}
.buttons {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 16px 16px 0;
    gap: 10px;
}
.buttons button {
    display: flex;
    align-items: center;
}
a.cancel::before {
    content: '';
}
a.cancel {
    color: #fafafa !important;
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
    width: fit-content;
    height: 32px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    margin: 0;
}

a.cancel:hover {
    background-color: #fafafa !important;
    color: #952b2b !important;
}
a.cancel:active,
a.cancel:focus
a.cancel:target,
a.cancel::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
color: #fafafa !important;
}


.row {
    width: 100%;
    margin: 0;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row div {
    width: 100%;
}
.row-footer {
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.options {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);
}
.options span a {
    margin: 0;
}

  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }



  a:hover > i {
    animation: jello-vertical 1s both;
  }

  button:hover > i {
    animation: jello-vertical 1s both;
  }