:root {
    --body-bg-color:#f1f1f2;
    --sidebar-bg-color:var(--form-button-color);
    --sidebar-button-bg-color:#b32325;
    --sidebar-button-bg-color-hover:#fafafa;
    --sidebar-button-color:#fafafa;
    --sidebar-button-color-hover:#b32325;
    --sidebar-button-outline:1px solid #b32325;

    --header-icon-color:#b32325;
    --header-icon-bg-color:transparent;
    --header-icon-bg-color-hover:#fafafa;
    --header-icon-outline-bg:1px solid #b32325;
    --header-icon-bg-color-active:#c73a3a;
    --header-icon-color-active:#fafafa;
    --header-icon-color-hover:#b32325;

    --list-bg-color:#b32325;
    --list-img-filter:brightness(100);
    --list-bg-color-hover:#f1f1f2;
    --list-span-font-color:#3a3a3a;
    --form-bg-color:#fafafa;
    --form-h1-color:#c73a3a;
    --form-p-color:#3a3a3a;
    --form-icons-color:#c73a3a;

    --form-button-background:#c73a3a;
    --form-active-button-color:#fafafa;
    --form-button-color:#fafafa;
    --form-button-color-hover:#b32325;
    --form-button-active-bg-color: #c73a3a;
    --form-button-bg-color-hover:#fafafa;
    --form-button-outline-color-hover:1px solid #b32325;

    --form-input-bg-color:#fafafa;
    --form-input-placeholder-color:#d1d1d1;

    --transition-color: 1.5s color;
    --transition-color2: 1.2s color;
    --transition-width-close: 1.2s ease;
    --transition-width-open: 1.5s ease;

    --border-effect: 0.5px solid rgba(17, 34, 85, 0.1);

    --box-shadow-effect: 0 1.2px 4px rgba(0,0,0,0.2);

    --img-filter: brightness(100);
}

.ordemServico {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100dvh - 60px); 
    overflow-y: auto;
}
.accordion {
    padding-bottom: 16px !important; 
}
button.accordion-button {
    background-color: #eee!important;
    box-shadow: var(--box-shadow-effect)!important;
    
}

.accordion-button:active,
.accordion-button:focus,
.accordion-button:focus-within,
.accordion-button:focus-visible,
.accordion-button:not(.collapsed) {
    color: var(--list-span-font-color) !important;
    font-weight: 700;
}

.accordion-button.collapsed {
    color: var(--list-span-font-color)!important;
    font-weight: 700;
}

div.accordion-body {
    background-color: var(--form-button-color)!important;
}

ul.nav {

    border: none !important;
    outline: none!important;
    box-shadow: none !important;
}
ul.nav li {
    padding: 8px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
ul.nav button {
    border-radius: 8px !important;
    color: #3a3a3a;
    font-weight: 500;
    background-color: #adadad !important;
    box-shadow: var(--box-shadow-effect)!important;
}

ul.nav button.active {
    background-color: #B32325 !important;
}

ul.nav button:hover {
    background-color: var(--form-h1-color) !important;
    color: var(--body-bg-color) !important;
}

.button-holder button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: all 0.4s ease;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fafafa !important;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    width: 100px;
    height: 35px;
}

.button-holder button i {
    font-size:1.1rem ;
}

.button-holder button:hover > .cancel-text {
    display: none;
}
.button-holder button:hover > i {
    display: flex;
}
.button-holder button > i {
    display: none;
}

.button-holder button:hover > i {
    animation: jello-vertical 1s both;
}

.save {
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
}

.save:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
    border: 1px solid #49956b !important;
    outline: none !important;
}
.save:active,
.save:focus
.save:target,
.save::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}

.cancel {
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
}

.cancel:hover {
    background-color: #fafafa !important;
    color: #952b2b !important;
    border: 1px solid #952b2b !important;
    outline: none !important;
}
.cancel:active,
.cancel:focus
.cancel:target,
.cancel::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
color: #fafafa !important;

}

#ordemServicoForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#ordemServicoForm button {
    color: var(--sidebar-button-color);
    background-color: var(--sidebar-button-bg-color);
    border: none;
    outline: none;
}

#ordemServicoForm button:hover {
    outline: var(--form-button-outline-color-hover);
    background-color: var(--sidebar-button-bg-color-hover);
    color: var(--sidebar-button-color-hover);
}

.mb-3 {
    width: 100%;
    background-color: #eee !important; 
    padding: 16px 16px;
}

.mb-3 input,
.mb-3 textarea {
    padding-bottom: 16px;
}

input[type='file'] {
    padding: 6px !important;
}
input[type='file'] button {
    background-color: #6b2323 !important;
}
.mb-3 input:active {
    box-shadow: none;
    border: none;
    outline: none;
}

.mb-3 label {
    font-weight: 700;
}

.mb-3 input:active,
.mb-3 input:focus,
.mb-3 textarea:active,
.mb-3 textarea:focus {
    outline: none !important;
    border: var(--border-effect) !important;
    box-shadow: none !important;
}
.button-holder {
    padding-top: 16px;
}
.obrigatorio {
    color: #b32325;
    font-weight: 800;
}



@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

