.panel-ordem {
    width: 95%;
    height: 100%;
    background-color: #fafafa;
    padding: 16px;
    border-radius: 8px;
}

.cards-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.cards-holder .cards{
    padding: 16px;
    height: 100px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 1.2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: right;
}


.cards-holder .cards:nth-child(1) {
    background-color: #a8d6e96b;
    color: #498fad;
    font-weight: 700;
}

.cards-holder .cards:nth-child(2) {
    background-color: #a8e9b46b;
    color: #6ead49;
    font-weight: 700;
}

.cards-holder .cards:nth-child(3) {
    background-color: #e9a8a86b;
    color: #ad4949;
    font-weight: 700;
}

.cards-holder .cards:nth-child(4) {
    background-color: #e9cfa86b;
    color: #ad7b49;
    font-weight: 700;
}
.cards-holder .cards span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cards-holder .cards span span{
    text-align: end;
    font-size: 2rem;
}

.button-holder {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 0px;
}

.button-ordem {
    background-color: #b32325;
    box-shadow: 0 1.2px 4px rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #fafafa;
    text-decoration: none;
}



.ordens ul li button {
    color: #b32325 !important;
}

.ordens ul li button.active {
    background-color: #e8e8e8 !important;
    border: none !important;
    outline: none !important;
    border: 2px solid #e8e8e8 !important;
    color: #498fad !important;

}

#aberta-tab-pane,
#emProcesso-tab-pane,
#encerradas-tab-pane {
    background-color: #e8e8e8 !important;
    border: none !important;
    padding: 16px;
    border-radius: 0 0 8px 8px;


}
.card {
    padding: 16px;
    margin: 16px;
    display: flex;
    gap: 10px;
    text-decoration: none;

}

.card-item__1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: 700;
}

.badges-hold {
    display: flex;
    align-items: center;
    gap: 10px;
}

.time,
.badges {
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}
#aberta-tab-pane .time,
#aberta-tab-pane .badges {
    background-color: #a8d6e96b;
    color: #498fad;
}
#emProcesso-tab-pane .time,
#emProcesso-tab-pane .badges {
    background-color: #a8e9b46b;
    color: #6ead49;
}
#encerradas-tab-pane .time,
#encerradas-tab-pane .badges {
    background-color: #e9a8a86b;
    color: #ad4949;
}
.time i {
    color: #2b2b2b;
}

.card-item__2,
.card-item__3 {
    max-height: 100px; /* Define a altura máxima */
    overflow: hidden; /* Oculta o texto que ultrapassar a altura */
    text-overflow: ellipsis; /* Adiciona reticências */
    display: -webkit-box; /* Para suporte a vários navegadores */
    -webkit-box-orient: vertical; /* Para suporte a vários navegadores */
    -webkit-line-clamp: 4; /* Número máximo de linhas a serem exibidas */
}

.card-item__2 p,
.card-item__3 p  {
    font-size: 0.9rem;
    color: #606060;
    font-weight: 600;
}
