.content {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

td {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.content a {
    width: fit-content;
    font-size:0.8rem;
    font-weight: 600;
    color: #b32325;
    background-color: #fafafa;
    border: 1px solid #b32325;
    margin-bottom: 16px;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
}

.content a:hover {
    background-color: #b32325;
    border-color: #b32325;
}
.content a:active,
.content a:focus,
.content a:target {
    background-color: #661416 !important;
    border-color: #661416 !important;
}