

.card {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
}

.col {
    background-color: #fafafa !important;
    padding: 32px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    height: 100%;
}

th {
    background-color: #e2e2e2 !important;
    color: #343434 !important;
    border-radius: 8px ;
    border: 4px solid #fafafa;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}

tr {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    width: 100px;
    text-align: center;
    text-justify: auto;
    margin: 0;
    padding: 0;
    border-radius: 8px ;
    border: 4px solid #fafafa;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    background-color: #f5f5f5 !important;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem !important;

}

tr:hover > td{
    background-color: #e5e8f48b !important;
    cursor: pointer;
}

td:last-child{
    width: 50px !important;
}
td:last-child p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: 0;
    padding: 0;
}
td:last-child .edit,
td:last-child .delet{
    width: 60px !important;
    height: 35px !important;
}

.content a,
.content button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: all 0.4s ease;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fafafa;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    width: 100px;
    height: 35px;
}
.content a i,
.content button i {
    font-size:1.1rem ;
}

.content a:hover > .cancel-text {
    display: none;
}
.content a:hover > i {
    display: flex;
}
.content a > i {
    display: none;
}

.content a:hover > i {
    animation: jello-vertical 1s both;
}

.content .buttons {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 16px 16px 0;
    gap: 10px;
}

.content button:hover > .cancel-text {
    display: none;
}
.content button:hover > i {
    display: flex;
}
.content button > i {
    display: none;
}

.content button:hover > i {
    animation: jello-vertical 1s both;
  }


.new {
    background-color: #49956b;
    border: 1px solid #49956b;
}


.new:hover {
    background-color: #fafafa;
    border-color: #49956b;
    color: #49956b;
}



.new:active,
.new:focus,
.new:target {
    background-color: #236b43 !important;
    border-color: #236b43 !important;
}

.edit {
    background-color: #496795 !important;
    border: 1px solid #496795 !important;
}

.edit:hover {
    background-color: #fafafa !important;
    color: #496795 !important;
}

.edit:active,
.edit:focus,
.edit:target,
.edit::selection {
background-color: #232f6b!important;
border-color: #232f6b!important;
}

.delet {
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
}

.delet:hover {
    color: #952b2b !important;
    background-color: #fafafa !important;
}
.delet:active,
.delet:focus,
.delet:target,
.delet::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
}

.details {
    background-color: #794995 !important;
    border: 1px solid #794995 !important;
}

.details:hover {
    color: #794995 !important;
    background-color: #fafafa !important;
}
.details:active,
.details:focus,
.details:target,
.details::selection {
background-color: #421c58!important;
border-color: #421c58!important;
}

.content .badges {
    position: relative;
    color: #fafafa !important;
    background-color: rgb(209, 143, 88) !important;
    border: 1px solid #d18f58 !important;
    margin: 8px;
    pointer-events: none; /* Consider changing this if you want the hover effect */
    overflow: hidden; /* Para garantir que o brilho não saia do botão */
}
.content .badges::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -100%;
    width: 90px;
    background: rgba(255, 255, 255, 0.9);
    filter: blur(20px);
    animation: shine-alt1 3s ease infinite;
}


@keyframes shine-alt1 {
    0% {
        opacity: 0.5;
        transform: translateX(-100px) skewX(-15deg);
    }
    50% {
        opacity: 0.6;
        transform: translateX(300px) skewX(-15deg);
    }
    100% {
        opacity: 0.5; /* Para fazer a animação voltar */
        transform: translateX(400px) skewX(-15deg);
    }
}

.back {
    background-color: #794995 !important;
    border: 1px solid #794995 !important;
}

.back:hover {
    background-color: #fafafa !important;
    color: #794995 !important;
}
.back:active,
.back:focus,
.back:target,
.back::selection {
background-color: #421c58!important;
border-color: #421c58!important;
color: #fafafa !important;
}

.confirm {
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
}

.confirm:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
}
.confirm:active,
.confirm:focus
.confirm:target,
.confirm::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}

.save {
    background-color: #49956b !important;
    border: 1px solid #49956b !important;
}

.save:hover {
    background-color: #fafafa !important;
    color: #49956b !important;
}
.save:active,
.save:focus
.save:target,
.save::selection {
background-color: #236b43!important;
border-color: #236b43!important;
color: #fafafa !important;
}
.content h2 {
    padding-top: 16px !important;
    padding-bottom: 32px !important;
    color: #3b0505 !important;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1) !important;
}


.cancel {
    background-color: #952b2b !important;
    border: 1px solid #952b2b !important;
}

.cancel:hover {
    background-color: #fafafa !important;
    color: #952b2b !important;
}
.cancel:active,
.cancel:focus
.cancel:target,
.cancel::selection {
background-color: #6b2323!important;
border-color: #6b2323!important;
color: #fafafa !important;
}
.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 16px;
}

#opportunityOption,
#notificationOption {
all: unset;
width: 20px;
height: 20px;
border: 0.5px solid rgba(17, 34, 85, .3);
border-radius: 50%;
cursor: pointer;
}


#opportunityOption:focus,
#notificationOption:focus,
#opportunityOption:active,
#notificationOption:active,
#opportunityOption:checked,
#notificationOption:checked {
    background: radial-gradient(circle, rgba(179,35,37,1) 0%, rgba(179,35,37,1) 40%, rgba(250,250,250,1) 50%);
    border-color: rgba(149, 43, 43, .8);
}
#opportunityOption:focus + .form-check-label,
#notificationOption:focus + .form-check-label,
#opportunityOption:checked+ .form-check-label,
#notificationOption:checked + .form-check-label {
    font-weight: 600 !important;
    color: #2a1e1e !important;
}

.delet-confirm {
    display: flex;
    flex-direction: column;
}

.delet-confirm div {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
    border-radius: 16px;
    padding: 32px;
}

.delet-confirm  div form {
    display: flex;
    gap: 10px;
}

.card .row {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
textarea {
    padding-left:6px ;
}
textarea,
select {
    box-shadow: none !important;
    border: 0.5px solid rgba(17, 34, 85, .3) !important;
    color: #404040 !important;
    margin: 2px 0 2px 0;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
}

#id_forcas:focus,
#id_oportunidades:focus {
    border-color: #49956b;
}

#id_fraquezas:focus,
#id_ameacas:focus {
    border-color: #952b2b;
}

input[type='text'], 
input[type='number'],
input[type='date']  {
    border: 0.5px solid rgba(17, 34, 85, .3) !important;
    height: 40px !important;
    color: #404040 !important;
    margin: 2px 0 2px 0;
    box-shadow: 0 1.2px 4px rgba(0,0,0,0.2);
}

.card-footer {
    padding: 16px;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 0 0 8px 8px;
}

h5 {
    position: relative;
    top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #343434 !important;
}

.sipoc input,
.sipoc textarea {
    border-radius: 4px;
}

.mapeamento {
    display: flex;
    gap: 60px;
    justify-content: space-around;
    padding: 16px;
    border-radius: 8px;

}
.colum-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.colum-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colum-2 label {
    position: relative;
    top: 16px;
}

.mapeamento1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mapeamento1 div {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
}
.mapeamento1 div textarea,
.mapeamento2 div textarea{
    height: 100px;

}
.mapeamento2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mapeamento2 div {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;   
}

.mapeamento3 {
    display: flex;
    gap: 10px;

}

.mapeamento3 div {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;   
    width: 250px !important;
    height: 350px !important;
    min-height: 250px;
    min-width: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.mapeamento3 div textarea {
    height: 100%;
}

.mapeamento3 div:nth-child(3) {
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: none;
}


.mapeamento3 div:nth-child(3) img {
    position: absolute;
    top: 20px;
    border-radius: 4px;
    width: 100%;
    height: 82%;
    object-fit: cover;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.mapeamento3 div:nth-child(3) #button-img {
    position: absolute;
    top: 318px;
    height: 10px !important;
}
.card-body {
    box-shadow: 0 1.2px 4px rgba(0, 0, 0, 0.5);
}

.card-body h5 {
    padding-bottom: 16px;
}
.card-body p {
    text-align: left;
}

.card-body h1,
.col h1 {
padding-top: 16px !important;
padding-bottom: 32px !important;
color: #3b0505 !important;
border-bottom: 0.5px solid rgba(0, 0, 0, 0.1) !important;
text-transform: capitalize;
font-weight: 600;
}


@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}