.quality-holder {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: calc(100dvh - 60px);
    background-color: #fafafa;
}
.container {
    display: flex;
    margin: 0;
}

.navbar {

    border-bottom: 0.5px solid rgba(17, 34, 85, 0.1);
}

.content {
    padding: 16px;
    height: 100%;
    overflow-y: scroll;
}