<!-- core/templates/base.html -->
{% extends 'index/index.html' %}
{% block title %}
    Qualidade
{% endblock %}

{% load static %}
{% block contentQuality %}
<link rel="stylesheet" href="{% static '/resources/css/quality.css' %}">
<div class="quality-holder" data-block="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                    {% if user.grupos_set.count == 0 %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'quality:opportunity_create' %}">Oportunidades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'quality:notification_create' %}">Notificações</a>
                            </li>
                        </ul>
                    {% else %}
                        {% for grupo in user.grupos_set.all %}
                            {% if grupo.gestor %}
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'quality:opportunity_list' %}">Oportunidades</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'quality:notification_list' %}">Notificações</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="ferramentasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ferramentas
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="ferramentasDropdown">
                                            <li><a class="dropdown-item" href="{% url 'qualityTools:ferramenta5porques_list' %}">5 porquês</a></li>
                                            <li><a class="dropdown-item" href="{% url 'qualityTools:ferramenta5w2h_list' %}">5W2H</a></li>
                                            <li><a class="dropdown-item" href="{% url 'qualityTools:ferramentaishikawa_list' %}">Ishikawa</a></li>
                                            <li><a class="dropdown-item" href="{% url 'qualityTools:ferramentaswot_list' %}">SWOT</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'quality:opportunity_create' %}">Oportunidades</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'quality:notification_create' %}">Notificações</a>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quality:opportunity_create' %}">Oportunidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quality:notification_create' %}">Notificações</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentPath = window.location.pathname;

        // Selecione todos os links
        const links = document.querySelectorAll('.nav-link');

        links.forEach(link => {
            // Verifique se o href do link corresponde ao caminho atual
            if (link.href === window.location.origin + currentPath) {
                link.classList.add('active'); // Adicione a classe active
            }
        });
    });
</script>
{% endblock %}