<!-- quality/templates/notification_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(2) {
    background-color: #fafafa !important;
    border-radius: 6px 6px 0 0;
}
</style>
<h2>Notificações de Eventos Adversos</h2>
<a href="{% url 'quality:notification_create' %}" class="btn btn-sm btn-success mt-3 add"><i class="fa-solid fa-plus"></i></a>
<ul class="list-group mt-3">
    {% for notification in notifications %}
    <li class="list-group-item">
        <div class="col-md-4 options">
            <a class="btn btn-primary btn-sm badges">Encerrada</a>
            <span>
                <a href="{% url 'quality:notification_detail' notification.pk %}" class="btn btn-primary btn-sm details"><i class="fa-solid fa-list-check"></i></a>
                <a href="{% url 'quality:notification_update' notification.pk %}" class="btn btn-primary btn-sm edit"><i class="fa-solid fa-pen"></i></a>
                <a href="{% url 'quality:notification_delete' notification.pk %}" class="btn btn-danger btn-sm delet"><i class="fa-solid fa-trash"></i></a>
            </span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5>{{ notification.title }}</h5>
                <p>{{ notification.content }}</p>
                <div class="row-footer">
                    {% if notification.identified_by %}
                    <small class="text-muted">Identificado por: {{ notification.identified_by }}</small>
                    {% else %}
                    <small class="text-muted">Notificação anônima</small>
                    {% endif %}
                    <small class="text-muted">Criado em: {{ notification.created_at }}</small>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
