{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(2) {
        background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<div class="card">
    <div class="card-body">
        <!-- Título -->
        <h5 class="card-title">{{ notification.title }}</h5>
        
        <!-- Conteúdo -->
        <p class="card-text">{{ notification.content }}</p>
        
        <!-- Prioridade -->
        <p class="card-text"><strong>Prioridade:</strong> {{ notification.priority }}</p>
        
        <!-- Cliente -->
        <p class="card-text"><strong>Cliente:</strong> {{ notification.client }}</p>
        
        <!-- Localização (Setor) -->
        <p class="card-text"><strong>Localização:</strong> {{ notification.location }}</p>
        
        <!-- Identificação e Data de Criação -->
        <p class="card-text">
            <small class="text-muted">
                {% if notification.identified_by %}
                    Identificado por: {{ notification.identified_by }} em {{ notification.created_at }}
                {% else %}
                    Identificação anônima criada em {{ notification.created_at }}
                {% endif %}
            </small>
        </p>
        
        <hr>
        
        <!-- Formulário de Edição da Notificação -->
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                Voltar <a href="{% url 'quality:notification_list' %}" class="btn btn-secondary back"><i class="fa-solid fa-arrow-rotate-left"></i></a>
                <!-- <a href="{% url 'quality:notification_delete' notification.pk %}" class="btn btn-danger float-right">Excluir</a> -->
            </div>
        </form>
    </div>
</div>
{% endblock %}
