<!-- core/templates/opportunity_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(1) {
    background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<h2>Oportunidades de Melhoria</h2>
<a href="{% url 'quality:opportunity_create' %}" class="btn btn-sm btn-success mt-3 add"><i class="fa-solid fa-plus"></i></a>
<ul class="list-group mt-3">
    {% for opportunity in opportunities %}
    <li class="list-group-item">
        <div class="col-md-4 options">
            <a class="btn btn-primary btn-sm badges">Encerrada</a>
            <span>
                <a href="{% url 'quality:opportunity_detail' opportunity.pk %}" class="btn btn-primary btn-sm details"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Detalhes"><i class="fa-solid fa-list-check"></i></a>
                <a href="{% url 'quality:opportunity_update' opportunity.pk %}" class="btn btn-primary btn-sm edit"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Editar"><i class="fa-solid fa-pen"></i></a>
                <a href="{% url 'quality:opportunity_delete' opportunity.pk %}" class="btn btn-primary btn-sm delet"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Excluir"><i class="fa-solid fa-trash"></i></a>
            </span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5>{{ opportunity.title }}</h5>
                <p>{{ opportunity.description }}</p>
                {% if opportunity.created_by %}
                    <small class="text-muted">Criado por: {{ opportunity.created_by }}</small>
                {% else %}
                    <small class="text-muted">Usuário não Identificado</small>
                {% endif %}
            </div>

        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
