<!-- core/templates/notification_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(1) {
    background-color: #fafafa !important;
    border-radius: 6px 6px 0 0;
}
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ opportunity.title }}</h5>
        <p class="card-text">{{ opportunity.description }}</p>
        <p class="card-text"><small class="text-muted">Identificado por: {{ opportunity.created_by.username }}</small></p>
        <hr>
        
        <!-- Formulário de Edição da Notificação -->
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <a href="{% url 'quality:opportunity_list' %}" class="btn btn-sm btn-primary back">Voltar <i class="fa-solid fa-arrow-rotate-left"></i></a>
            </div>
            <!-- <a href="{% url 'quality:opportunity_delete' opportunity.pk %}" class="btn btn-danger float-right">Excluir</a> -->
        </form>
    </div>
</div>
{% endblock %}
