<!-- core/templates/opportunity_confirm_delete.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(1) {
        background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tem certeza que deseja excluir "{{ opportunity.title }}"?</h5>
        <form method="post">
            {% csrf_token %}
            <div class="buttons">
                <button type="submit" class="btn btn-sm btn-primary confirm"><span class="cancel-text">Confirmar</span> <i class="fa-solid fa-check"></i></button>
                <a href="{% url 'quality:opportunity_list' %}" class="btn btn-sm btn-primary cancel"><span class="cancel-text">Cancelar</span><i class="fa-solid fa-ban"></i></a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
