{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(1) {
        background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ opportunity.title }}</h5>
        
        <!-- Campos Adicionais -->
        <p class="card-text">{{ opportunity.description }}</p>
        <p class="card-text"><strong>Tipo:</strong> {{ opportunity.tipo }}</p>
        <p class="card-text"><strong>Prioridade:</strong> {{ opportunity.prioridade }}</p>
        <p class="card-text"><strong>Setor:</strong> {{ opportunity.location }}</p>
        
        <!-- Identificação e Data -->
        {% if opportunity.created_by %}
        <small class="text-muted">Identificado por: {{ opportunity.created_by.username }} em {{ opportunity.created_at }}</small>
        {% else %}
        <small class="text-muted">Identificação anônima criada em {{ opportunity.created_at }}</small>
        {% endif %}


        <hr>

        <!-- Formulário de Edição da Oportunidade -->
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <a href="{% url 'quality:opportunity_list' %}" class="btn btn-secondary back">
                    Voltar <i class="fa-solid fa-arrow-rotate-left"></i>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
