<!-- core/templates/opportunity_confirm_delete.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/oportunity.css' %}">
<style>
    li.nav-item:nth-child(1) {
    background-color: #fafafa !important;
}
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tem certeza que deseja excluir "{{ opportunity.title }}"?</h5>
        <form method="post">
            {% csrf_token %}
            <div class="buttons">
                <button type="submit" class="btn btn-sm btn-danger confirm"><i class="fa-solid fa-check"></i></button>
                <a href="{% url 'quality:opportunity_list' %}" class="btn btn-sm btn-secondary cancel"><i class="fa-solid fa-ban"></i></a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
