{% extends 'base.html' %}
{% load static %}
{% block title %}5 Porquês{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<style>
    li.nav-item:nth-child(3) {
    background-color: #fafafa !important;
}
</style>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <h1>5 Porquês</h1>
                <a href="{% url 'qualityTools:ferramenta5porques-create' %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i></a>
                <tr>
                    <th>ID</th>
                    <th>Oportunidade de Melhoria</th>
                    <th>Notificação de Evento Adverso</th>
                    <th>1º Por quê?</th>
                    <th>2º Por quê?</th>
                    <th>3º Por quê?</th>
                    <th>4º Por quê?</th>
                    <th>5º Por quê?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ferramenta in ferramentas_5porques %}
                    <tr>
                        <td>{{ ferramenta.id }}</td>
                        <td>{{ ferramenta.oportunidade_melhoria|default_if_none:"N/A" }}</td>
                        <td>{{ ferramenta.notificacao_evento_adverso|default_if_none:"N/A" }}</td>
                        <td>{{ ferramenta.porque1 }}</td>
                        <td>{{ ferramenta.porque2 }}</td>
                        <td>{{ ferramenta.porque3 }}</td>
                        <td>{{ ferramenta.porque4 }}</td>
                        <td>{{ ferramenta.porque5 }}</td>
                        <td>
                            <a href="{% url 'qualityTools:ferramenta5porques-update' pk=ferramenta.pk %}" class="btn btn-sm btn-primary edit"><i class="fa-solid fa-pen"></i></a>
                            <a href="{% url 'qualityTools:ferramenta5porques-delete' pk=ferramenta.pk %}" class="btn btn-sm btn-danger delet"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
