{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Exclusão do 5 Porquês{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<style>
    li.nav-item:nth-child(3) {
        background-color: #eee !important;
    border-radius: 6px 6px 0 0;
}
</style>
<div class="delet-confirm">
    <div>
        <h3>Realmente deseja excluir "{{ object }}"?</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-primary confirm">Excluir <i class="fa-solid fa-check"></i></button>
            <a href="{% url 'qualityTools:ferramenta5porques_list' %}" class="btn btn-sm btn-primary cancel">Cancelar <i class="fa-solid fa-ban"></i></a>
        </form>
    </div>
</div>
{% endblock %}
