{% extends 'index/index.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block login %}
<link rel="stylesheet" href="{% static '/resources/css/login.css' %}">
<div class="login-container" data-block="login">
    <form method="post" onsubmit="return handleSubmit()">
        {% csrf_token %}
        <h1>Bem Vindo</h1> 

        <p>Entre com seu usuário e senha do computador.</p>
        <div class="user-group">
            <i class="fa-solid fa-user"></i>
            <input type="text" placeholder="Digite seu usuário do computador" name="username" id="username" autocomplete="off" required>
        </div>
        <div class="password-group">
            <div class="password-view">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Senha" name="password" id="password" class="input-password" required>
                <i id="togglePassword" class="fas fa-eye password-icon" onclick="togglePassword('password', 'togglePassword')"></i>
            </div>
        </div>

        <button type="submit" id="submit-button">ENTRAR</button>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </form>
</div>
<script>
    function handleSubmit() {
        console.log("Formulário enviado!"); // Teste de log
        const submitButton = document.getElementById('submit-button');
        // Adiciona a classe de botão desativado
        submitButton.classList.add('disabled-button');
        // Desativa o botão
        submitButton.disabled = true;
        // Troca o texto do botão pelo ícone de carregamento
        submitButton.innerHTML = '<i class="fa-solid fa-spinner fa-spin-pulse"></i>';
        // O formulário continuará o envio
        return true;
    }
</script>
{% endblock %}
