{% extends 'base.html' %}
{% load static %}

{% block title %}Ferramenta SIPOC{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<h1>{% if form.instance.id %}Editar{% else %}Adicionar{% endif %} SIPOC</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card sipoc">
        <div class="card-body">
            
            {% if not form.instance.id %}
                <h5>Cadastrar Novo Mapeamento SIPOC:</h5>
                <div class="mapeamento">
                    <div class="form-group colum-1">
                        <label for="{{ mapeamento_form.macroprocesso.id_for_label }}">Macroprocesso:</label>
                        {{ mapeamento_form.macroprocesso }}
                    </div>
                    <div class="form-group colum-2">
                        <label for="{{ mapeamento_form.versao.id_for_label }}">Versão:</label>
                        {{ mapeamento_form.versao }}

                        <label for="{{ mapeamento_form.vigenca.id_for_label }}">Vigência:</label>
                        {{ mapeamento_form.vigencia }}

                        <label for="{{ mapeamento_form.gestor.id_for_label }}">Gestor:</label>
                        {{ mapeamento_form.gestor }}
                    </div>
                </div>
                <hr>
            {% else %}
                <!-- Exibir o mapeamento já selecionado, sem permitir edição -->
                <h5>Mapeamento SIPOC Selecionado:</h5>
                <p><strong>Macroprocesso:</strong> {{ form.instance.mapeamento.macroprocesso }}</p>
                <p><strong>Versão:</strong> {{ form.instance.mapeamento.versao }}</p>
                <p><strong>Vigência:</strong> {{ form.instance.mapeamento.vigenca }}</p>
                <p><strong>Gestor:</strong> {{ form.instance.mapeamento.gestor }}</p>
                <hr>
            {% endif %}
            
                <!-- Formulário de FerramentaSIPOC -->
                <div class="form-group mapeamento1">
                    <div>
                        <label for="{{ form.missao.id_for_label }}">Missão:</label>
                        {{ form.missao }}
                    </div>
                    <div>
                        <label for="{{ form.sistema.id_for_label }}">Sistema:</label>
                        {{ form.sistema }}
                    </div>
                    <div>
                        <label for="{{ form.equipe.id_for_label }}">Equipe:</label>
                        {{ form.equipe }}
                    </div> 
                    <div>
                        <label for="{{ form.equipamentos.id_for_label }}">Equipamentos:</label>
                        {{ form.equipamentos }}
                    </div>
                </div>

                <hr>
                <div class="form-group mapeamento2">
                    <div>
                        <label for="{{ form.produto.id_for_label }}">Produto:</label>
                        {{ form.produto }}
                    </div>
                    <div>
                        <label for="{{ form.resultado.id_for_label }}">Resultado:</label>
                        {{ form.resultado }}
                    </div>
                </div>

            <hr>
            <div class="mapeamento3">
                <div>
                    <label for="{{ form.fornecedor.id_for_label }}">Fornecedor:</label>
                    {{ form.fornecedor }}
                </div>
                <div>
                    <label for="{{ form.entrada.id_for_label }}">Entrada:</label>
                    {{ form.entrada }}
                </div>

                <div>
                    {% if form.instance.processo %}
                    <img id="previewImage" src="{{ form.instance.processo.url }}" alt="Preview" class="img-thumbnail mt-2" />
                    {% else %}
                        <img id="previewImage" src="#" alt="Preview" class="img-thumbnail mt-2 d-none" />
                    {% endif %}
                    <div id="button-img">
                        <label for="{{ form.processo.id_for_label }}" class="btn btn-sm btn-primary">
                            Escolher Imagem <i class="fas fa-upload"></i> 
                        </label>
                        <input type="file" id="{{ form.processo.id_for_label }}" name="{{ form.processo.name }}" class="d-none" onchange="previewImage(event)">    
                    </div>
                </div>
                <div>
                    <label for="{{ form.saida.id_for_label }}">Saída:</label>
                    {{ form.saida }}
                </div>
                <div>
                    <label for="{{ form.cliente.id_for_label }}">Cliente:</label>
                    {{ form.cliente }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary save"><i class="fa-solid fa-floppy-disk"></i></button>
            </div>
        </div>
        

    </div>
</form>

<script>
    // Função para mostrar a pré-visualização da imagem
    document.getElementById("{{ form.processo.id_for_label }}").addEventListener("change", function(event) {
        const preview = document.getElementById("previewImage");
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.classList.remove("d-none"); // Remove a classe d-none para mostrar a imagem
            }
            reader.readAsDataURL(file);
        } else {
            preview.classList.add("d-none"); // Se não houver arquivo, mantém a imagem oculta
        }
    });
</script>
{% endblock %}
