{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Exclusão da Ferramenta SIPOC{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">
<style>
    li.nav-item:nth-child(3) {
    background-color: #fafafa !important;
}
</style>
<div class="delet-confirm">
    <div>
        <h3>Realmente deseja excluir a Ferramenta SIPOC "{{ object }}"?</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger confirm"><i class="fa-solid fa-check"></i></button>
            <a href="{% url 'qualityTools:ferramentasipoc_list' %}" class="btn btn-sm btn-secondary cancel"><i class="fa-solid fa-ban"></i></a>
        </form>
    </div>
</div>
{% endblock %}
