{% extends 'base.html' %}
{% load static %}

{% block title %}SIPOC{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/resources/css/qualityTools.css' %}">

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <h1>SIPOC</h1>
                <a href="{% url 'qualityTools:ferramentasipoc-create' %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i></a>
                <tr>
                    <th>#</th>
                    <th>Macroprocesso</th>
                    <th>Versão</th>
                    <th>Vigência</th>
                    <th>Gestor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ferramenta in ferramentas_sipoc %}
                <tr>
                    <td>{{ ferramenta.id }}</td>
                    <td>{{ ferramenta.mapeamento.macroprocesso|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.mapeamento.versao|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.mapeamento.vigencia|default_if_none:"N/A" }}</td>
                    <td>{{ ferramenta.mapeamento.gestor|default_if_none:"N/A" }}</td>
                    <td>
                        <a href="{% url 'qualityTools:ferramentasipoc-update' pk=ferramenta.pk %}" class="btn btn-sm btn-primary edit"><i class="fa-solid fa-pen"></i></a>
                        <a href="{% url 'qualityTools:ferramentasipoc-delete' pk=ferramenta.pk %}" class="btn btn-sm btn-danger delet"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Nenhum registro encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
