{% extends 'index/index.html' %}
{% load static %}
{% block ordemServico %}
<div class="ordemServico" data-block="home">
        <div class="ordemServico__section">
            <a class="card" data-value="ti" onclick="selectOption(this)">
                <div class="card__holder">
                    <img src="{% static 'resources/images/apps-icon/Slack.svg' %}">
                </div>
                <h5>Tecnologia da Informação</h5>
                <p>Solicitação de suporte técnico, manutenção de sistemas, instalação de software ou resolução de problemas de hardware. Por favor, forneça detalhes específicos sobre a questão ou o projeto.</p>
            </a>
            <a class="card" data-value="marketing" onclick="selectOption(this)">
                <div class="card__holder">
                    <img src="{% static 'resources/images/apps-icon/Slack.svg' %}">
                </div>
                <h5>Marketing</h5>
                <p>Solicitação de campanhas publicitárias, criação de conteúdo, design gráfico ou análise de mercado. Detalhe os objetivos, prazos e qualquer material relevante para facilitar o atendimento.</p>
            </a>
            <a class="card" data-value="mpredial" onclick="selectOption(this)">
                <div class="card__holder">
                    <img src="{% static 'resources/images/apps-icon/Slack.svg' %}">
                </div>
                <h5>Manutenção Predial</h5>
                <p>Pedido de serviços para reparos, limpeza ou melhorias nas instalações. Inclua informações sobre a localização, tipo de manutenção necessária e a urgência da solicitação.</p>
            </a>
            <a class="card" data-value="mveicular" onclick="selectOption(this)">
                <div class="card__holder">
                    <img src="{% static 'resources/images/apps-icon/Slack.svg' %}">
                </div>
                <h5>Manutenção Veicular</h5>
                <p>Solicitação de serviços de manutenção, revisão ou reparo de veículos. Indique a identificação do veículo, o tipo de serviço requerido e a urgência da ação necessária.</p>
            </a>
        </div>

    </div>

</div>
<script src="{% static '/resources/js/ordemServico.js' %}"></script>
{% endblock %}