{% extends 'index/index.html' %}
{% load static %}

{% block ordemServico %}
<link rel="stylesheet" href="{% static '/resources/css/painelOrdem.css' %}">
<div class="panel-ordem" data-block="home">
    <div class="cards-holder">
        <div class="cards">
            <span>
                <span>05</span>
                Ordens de Serviço Abertas
            </span>
        </div>
        <div class="cards">
            <span>
                <span>05</span>
                Ordens de Serviço Em Processo
            </span>
        </div>
        <div class="cards">
            <span>
                <span>05</span>
                Ordens de Serviço Encerradas
            </span>
        </div>
        <div class="cards">
            <span>
                <span>05</span>
                Ordens de Serviço Não Avaliadas (NPS)
            </span>
        </div>
    </div>
    <div class="button-holder">
        <a class="button-ordem" id="addOrdem" href="/ordemServico"><i class="fa-solid fa-plus"></i>Ordem de Serviço</a>
    </div>
    <div class="ordens">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="aberta-tab" data-bs-toggle="tab" data-bs-target="#aberta-tab-pane" type="button" role="tab" aria-controls="aberta-tab-pane" aria-selected="true">Abertas</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="emProcesso-tab" data-bs-toggle="tab" data-bs-target="#emProcesso-tab-pane" type="button" role="tab" aria-controls="emProcesso-tab-pane" aria-selected="false">Em Processo</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="encerradas-tab" data-bs-toggle="tab" data-bs-target="#encerradas-tab-pane" type="button" role="tab" aria-controls="encerradas-tab-pane" aria-selected="false">Encerradas</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="aberta-tab-pane" role="tabpanel" aria-labelledby="aberta-tab" tabindex="0">
                <a class="card">
                    <span class="card-item__1">
                        <h4>Ordem de Serviço Nº 20058</h4>
                        <div class="badges-hold">
                            <span class="badges">Solicitação</span>
                            <span class="time"><i class="fa-solid fa-stopwatch"></i> 20 minutos</span>
                        </div>
                    </span>
                    <span class="card-item__2">
                        <h5>Descrição</h5>
                        <p>Cont000 years old. Richard McClintock, a Latin professorthe word in classction 1.10.32.</p>
                    </span>
                    <span class="card-item__3">
                        <h5>Dano</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    </span>
                </a>
            </div>    

            <div class="tab-pane fade" id="emProcesso-tab-pane" role="tabpanel" aria-labelledby="emProcesso-tab" tabindex="0">
                <a class="card">
                    <span class="card-item__1">
                        <h4>Ordem de Serviço Nº 20058</h4>
                        <div class="badges-hold">
                            <span class="badges">Solicitação</span>
                            <span class="time"><i class="fa-solid fa-stopwatch"></i> 20 minutos</span>
                        </div>
                    </span>
                    <span class="card-item__2">
                        <h5>Descrição</h5>
                        <p>Cont000 years old. Richard McClintock, a Latin professorthe word in classction 1.10.32.</p>
                    </span>
                    <span class="card-item__3">
                        <h5>Dano</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    </span>
                </a>
            </div>          
            <div class="tab-pane fade" id="encerradas-tab-pane" role="tabpanel" aria-labelledby="encerradas-tab" tabindex="0">
                <a class="card">
                    <span class="card-item__1">
                        <h4>Ordem de Serviço Nº 20058</h4>
                        <div class="badges-hold">
                            <span class="badges">Solicitação</span>
                            <span class="time"><i class="fa-solid fa-stopwatch"></i> 20 minutos</span>
                        </div>
                    </span>
                    <span class="card-item__2">
                        <h5>Descrição</h5>
                        <p>Cont000 years old. Richard McClintock, a Latin professorthe word in classction 1.10.32.</p>
                    </span>
                    <span class="card-item__3">
                        <h5>Dano</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    </span>
                </a>
            </div>          
        </div>
    </div>
</div>
{% endblock %}